@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollBar::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  background: #d0d5dd;
  border-radius: 10px;
}
